<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{titulo}}</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="icono-foto">
    <app-seleccionar-imagen
      [aspectRatio] = "1/1"
      [croppedImage]="croppedImageIcono"
      (onSelectValue)=imagenSeleccionadaIcono($event)>
    </app-seleccionar-imagen>
  </div> 
  
  <div class="ion-padding">

    <div *ngIf="submitted && f.icono.errors" class="invalid-feedback">
      <div *ngIf="f.icono.errors.required"><h5>Ingresa el logo de tu negocio</h5></div>
    </div>

  <form [formGroup]="datosForm">
    
    <div [ngClass]="{'form-card': true, 'form-card-error': submitted && !datosForm.controls.nombre.valid}">
      <ion-text color="primary">
        <h4>Nombre *</h4>
      </ion-text>  
      <ion-item>
        <ion-input name="nombre" type="text" formControlName="nombre" required></ion-input>
      </ion-item>
      <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
          <div *ngIf="f.nombre.errors.required"><h5>Ingresa un nombre</h5></div>
      </div> 
    </div>



    <h4>Habilitar mi comercio para:</h4>   
    <ion-item>
      <ion-label>Recibir Pedidos</ion-label>
      <ion-toggle [(ngModel)]="comercio.recibirPedidos"  [ngModelOptions]="{standalone: true}"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Recibir Reservas</ion-label>
      <ion-toggle [(ngModel)]="comercio.recibirReservas"  [ngModelOptions]="{standalone: true}"></ion-toggle>
    </ion-item>   

    <ion-button *ngIf="!comercio.direccion.street_name" (click)="seleccionarUbicacion()" class="button-rounded" color="light"><ion-icon name="add"></ion-icon><ion-icon name="location-outline"></ion-icon>Dirección</ion-button>
    <ion-item-sliding class="item-card" *ngIf="comercio.direccion.street_name">  
      <ion-item>
        <ion-avatar slot="start" (click)="seleccionarUbicacion()">
          <ion-icon name="location-outline"></ion-icon>
        </ion-avatar>
        <ion-label (click)="seleccionarUbicacion()">
          <h2>{{comercio.direccion.street_name}} {{comercio.direccion.street_number}},{{comercio.direccion.locality}},{{comercio.direccion.state}}. <br>
            <span *ngIf="comercio.direccion.piso"> Piso: {{comercio.direccion.piso}}</span>
            <span *ngIf="comercio.direccion.puerta"> Puerta: {{comercio.direccion.puerta}}</span>
          </h2>
        </ion-label>      
      </ion-item>
  
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="eliminarDireccion()"><ion-icon name="trash" ></ion-icon> Eliminar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <div [ngClass]="{'form-card': true, 'form-card-error': submitted && !datosForm.controls.telefono.valid}">
      <ion-text color="primary">
        <h4>Teléfono *</h4>
      </ion-text>  
      <ion-item>
        <ion-input name="telefono" type="number" formControlName="telefono" required></ion-input>
      </ion-item>
      <div *ngIf="submitted && f.telefono.errors" class="invalid-feedback">
          <div *ngIf="f.telefono.errors.required"><h5>Ingresa un telefono</h5></div>
      </div> 
    </div>

    <div [ngClass]="{'form-card': true, 'form-card-error': submitted && !datosForm.controls.descripcion.valid}">
      <ion-text color="primary" >
        <h4>Descripcion</h4>    
      </ion-text> 
          
      <ion-item>
        <ion-textarea formControlName="descripcion"></ion-textarea>
      </ion-item>
      <div *ngIf="submitted && f.descripcion.errors" class="invalid-feedback">
        <div *ngIf="f.descripcion.errors.required"><h5>Ingresa la descripción de tu negocio</h5></div>
      </div>
    </div>

   
    
   
    
  </form>

  
</div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button class="button-rounded" slot="end" (click)="guardar()">Guardar</ion-button>
    
    <ion-button class="button-rounded" slot="start"  color="light" (click)="cancelar()">Cancelar</ion-button>
  </ion-toolbar>
</ion-footer>
