<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Catálogo</ion-title>     
  </ion-toolbar>
</ion-header> 
  
<ion-content>  
  <ion-row class="ion-padding">    
    <ion-searchbar animated 
      placeholder="Buscar por nombre o categoría"
      animated="true"
      showCancelButton="never" 
      color="light" 
      autocomplete="on"
      enterkeyhint="send"
      inputmode="text"
      type="text"
      debounce="300"
      value="{{palabraFiltro}}"
      (ionChange)="buscar($event)">
    </ion-searchbar>        
    <ion-col size="6">
      <ion-button class="button-rounded" size="large" color="primary" style="margin-top: -1px; height: 42px;"  (click)="lectorDeCodigo()">
          <ion-icon name="barcode"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="6"> 
      <ion-button class="button-rounded" size="large" color="primary" style="margin-top: -1px; height: 42px;"  (click)="reconocimientoPorVoz()">
          <ion-icon name="mic-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-slides [options]="slideOpts" slidesPerView="3">
    <ion-slide (click)="verProductos('')" >
      <span >Ver Todo</span>
    </ion-slide>
    <ion-slide *ngFor="let categoria of categorias"  (click)="verProductos(categoria)" 
      [class.seleccionado]="categoria.seleccionado == true"
      
    >
      <img  src="categoria.foto" alt="">
      <span >{{categoria.nombre}}</span>
    </ion-slide>
    <ion-slide>
    </ion-slide>
  </ion-slides>
  
  <div class="ion-padding">
    <ion-item  class="list-item" *ngIf="itemsAllProductos.length == 0 && itemsAllServicios.length == 0" (click)="presentAlertSeleccionar()">  
      <ion-avatar slot="start">       
        <ion-icon name="star"></ion-icon>
      </ion-avatar>      
      <ion-label>
        <h2><b>Aún no tienes productos ni servicios agregados a tu comercio! Agregar uno nuevo</b></h2>        
      </ion-label>
    </ion-item>
    
    <ion-grid>
      <span *ngFor="let letra of itemsSeparadosAlfabeticamente">
        <ion-row >
          <ion-col size="12">
            <ion-item class="item-card">
              <h5>{{letra.group}}</h5> 
            </ion-item> 
          </ion-col>
        </ion-row>
        <ion-row> 
          <ion-col size="12" size-xs="12" size-sm="6" size-md="4" size-lg="3" *ngFor="let child of letra.children">         
            <ion-item-sliding class="item-card" >
              <app-card-producto   
                [item]="child"   
                [multiplicador]="1"
                [showOpcionesSeleccionadas]="false"
                [showEstadoComanda]="false"
                (select)="seleccionar(child)"
              ></app-card-producto>   
            
              <ion-item-options side="end">
                <ion-item-option  (click)="editarProducto(child)"><ion-icon name="create" ></ion-icon> Editar</ion-item-option>
              </ion-item-options>
        
              <ion-item-options side="start" *ngIf="comercio.modulos.stock">
                <ion-item-option color="success" (click)="agregarStock(child)">Stock</ion-item-option>
              </ion-item-options>

            </ion-item-sliding>
          </ion-col>

          <ion-col size="12" size-xs="12" size-sm="6" size-md="4" size-lg="3"  *ngFor="let item of itemsServicios" >
            <ion-item-sliding class="item-card">
              <ion-item (click)="seleccionar(item)" *ngIf="!item.producto">
                <div slot="start"> 
                  <img src="{{item.foto}}" *ngIf="item.foto">
                  <ion-icon name="document-attach-outline" *ngIf="!item.foto"></ion-icon>
                </div>      
                <ion-label>
                  <h2><b>{{item.nombre}}</b> </h2>
                  <p>
                    {{item.descripcion}}
                  </p>           
                </ion-label>  
              </ion-item>
        
              
            
              <ion-item-options side="end">
                <ion-item-option (click)="editarServicio(item)"><ion-icon name="create" ></ion-icon> Editar</ion-item-option>
              </ion-item-options>
        
            </ion-item-sliding>
          </ion-col> 
  
        </ion-row>
      </span>
    </ion-grid>
  </div>
    

    


  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="presentAlertSeleccionar()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

    
  <div class="space">
    
  </div> 


</ion-content>

<ion-footer class="ion-no-border ion-padding" *ngIf="carrito.on" style="padding: 0px;">
  <ion-toolbar>
    <ion-button class="margin0 button-rounded" style="height: 60px;" color="success" (click)="verCarrito()">{{carrito.productos.length + carrito.servicios.length}} Items = {{carrito.totalProductos+carrito.totalServicios | currency}} <ion-icon name="arrow-forward"></ion-icon></ion-button>
  </ion-toolbar> 
</ion-footer>