<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Integración Woocommerce</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="form-card">
    <ion-text color="primary"> 
      <h4>Usuario</h4>         
    </ion-text>   
    <ion-item>
      <ion-input type="text" [(ngModel)]="comercio.woocommerce.user" (ionChange)="cambiado()"></ion-input>
    </ion-item>

    <ion-text color="primary"> 
      <h4>Contraseña</h4>         
    </ion-text>   
    <ion-item>
      <ion-input type="text" [(ngModel)]="comercio.woocommerce.password" (ionChange)="cambiado()"></ion-input>
    </ion-item>
  </div>

  <div class="form-card">

    
    
    <ion-text color="primary"> 
      <h4>URL del sitio web</h4>         
    </ion-text>   
    <ion-item>
      <ion-input type="text" [(ngModel)]="comercio.woocommerce.url" (ionChange)="cambiado()"></ion-input>
    </ion-item>

    <ion-text color="primary"> 
      <h4>Consumer Key</h4>         
    </ion-text>   
    <ion-item>
      <ion-input type="text" [(ngModel)]="comercio.woocommerce.consumerKey" (ionChange)="cambiado()"></ion-input>
    </ion-item>

    <ion-text color="primary"> 
      <h4>Consumer Secret</h4>         
    </ion-text>  

    <ion-item>
      <ion-input type="text" [(ngModel)]="comercio.woocommerce.consumerSecret" (ionChange)="cambiado()"></ion-input>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button class="button-rounded" color="primary" (click)="probar()">Probar Conexión</ion-button>
        </ion-col>
        
      </ion-row>
      <ion-row>
        <ion-col>
         Sincronizar Productos
        </ion-col>
        <!--ion-col>
          <ion-button class="button-rounded" color="success" (click)="downloadData()" [disabled]="progresoReceived != 0" ><ion-icon name="cloud-download-outline"></ion-icon></ion-button>
        </ion-col-->
        <ion-col>
          <ion-button class="button-rounded" color="success" (click)="uploadData()" [disabled]="progresoReceived != 0" ><ion-icon name="cloud-upload-outline"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    
</div>  
<ion-progress-bar *ngIf="progresoSend != 0"  [value]="progresoReceived" [buffer]="progresoSend"></ion-progress-bar>
    <p *ngIf="progresoSend != 0">sincronizado: {{progresoReceived * 100}}%</p>
  
  
</ion-content>
<ion-footer>
  <ion-toolbar>   
    <ion-button class="button-rounded" slot="start"  color="danger" (click)="cancelar()">Cancelar</ion-button>
    <ion-button class="button-rounded" slot="end"  color="success" (click)="guardar()">Guardar</ion-button>
  </ion-toolbar> 
</ion-footer>
