<ion-card class="item-card ion-padding">    
  <span *ngIf="item.empleadoNombre">Realizado por: {{item.empleadoNombre}}</span><br>  
  realizado: {{item.createdAt | date:'hh:mm aaa - dd/MM'}}<br>  
  <span *ngIf="item.mesaId">Mesa: {{item.mesaNombre}}</span><br>
  <span *ngIf="item.clienteId">Cliente: {{item.clienteNombre}}</span>
  
  <ion-item>               
    <ion-label>            
      <span *ngFor="let producto of item.productos; let i = index">
        <app-card-producto [item]="producto" [showEnCarrito] = "false" [showStock] = "false"></app-card-producto>  
      </span> 
      <ion-item *ngFor="let servicio of item.servicios; let i = index">
        <ion-avatar slot="start">
          <img src="{{servicio.foto}}" *ngIf="servicio.foto">
          <ion-icon name="document-attach-outline" *ngIf="!servicio.foto"></ion-icon>
        </ion-avatar>
        <ion-label text-wrap>
          <h2>{{servicio.nombre}}</h2>
          <h3 *ngIf="servicio.plan.nombre">{{servicio.plan.nombre}}, 
            <span *ngIf="servicio.plan.tipo == 'dias'">{{servicio.plan.dias}} días por </span>
            <span *ngIf="servicio.plan.tipo == 'mensual'">el mes por </span>
            <span *ngIf="servicio.plan.tipo == 'anual'">el año por </span>
            {{servicio.plan.precio | currency}}
          </h3>
          <h3 *ngIf="servicio.plan == 'personal'"></h3>
          <h3>{{servicio.descripcion_venta}}</h3>
          <h3 *ngIf="servicio.pagoAdelantado == 'false'" style="color:red">El abono se pagará al finalizar el periodo</h3>
        </ion-label>  
      </ion-item>                
    </ion-label>   
  </ion-item>
  <ion-item>
    <ion-button *ngIf="item.status == 0" color="light" size="large" slot="start" (click)="eliminar(item)"  expand="block">Cancelar</ion-button>
    <ion-button *ngIf="item.status == 1" color="light" size="large" slot="start" (click)="comandaSuspender(item)"  expand="block">Suspender</ion-button>
    <ion-button *ngIf="item.status == 2" color="light" size="large" slot="start" (click)="comandaVolver(item)"  expand="block">Volver</ion-button>
    <ion-button *ngIf="item.status == 0" size="large" slot="end" (click)="comandaTomada(item)"  expand="block">Tomado</ion-button>   
    <ion-button *ngIf="item.status == 1" color="success" size="large" slot="end" (click)="comandaLista(item)"  expand="block">Listo!</ion-button>  
    <ion-button *ngIf="item.status == 2" color="danger" size="large" slot="end" (click)="finalizarComanda(item)"  expand="block">Finalizar</ion-button>                   
  </ion-item>
</ion-card>