<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Pedidos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-toolbar>
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="curso">En curso</ion-segment-button>
    <ion-segment-button value="suspendidos">Suspendidos</ion-segment-button>
    <ion-segment-button value="cobrados">Cobrados</ion-segment-button>
  </ion-segment>
</ion-toolbar>
 
<ion-content class="ion-padding">

  <ion-searchbar animated 
    placeholder="Buscar por cliente, empleado o mesa"
    animated="true"
    showCancelButton="never" 
    color="light" 
    autocomplete="on"
    enterkeyhint="send"
    inputmode="text"
    type="text"
    debounce="300"
    value="{{palabraFiltro}}"
    (ionChange)="onChange($event)">
  </ion-searchbar>

  <h2 *ngIf="pedidos.length == 0">No tienes pedidos en curso.</h2>
  <ion-list lines="none" >        
    <ion-item-sliding *ngFor="let pedido of pedidos"  class="item-card">
      <app-card-pedido [item]="pedido" (click)="seleccionar(pedido)"></app-card-pedido>
      <ion-item-options *ngIf="pedido.suspendido == 0 && pedido.cobrado == 0" side="end">
        <ion-item-option color="danger" (click)="cancelar(pedido)"><ion-icon name="trash" ></ion-icon>Suspender</ion-item-option>
      </ion-item-options> 
      <ion-item-options *ngIf="pedido.suspendido == 1 && pedido.cobrado == 0" side="end">
        <ion-item-option  (click)="reanudar(pedido)"><ion-icon name="trash" ></ion-icon>Reanudar</ion-item-option>
      </ion-item-options> 
    </ion-item-sliding>  
  </ion-list>


</ion-content>
