<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  (click)="atras()"></ion-back-button>
    </ion-buttons>
    <ion-title>Mesa/{{mesa.nombre}}</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2 *ngIf="pedidos.length == 0">No tienes pedidos cargado a esta mesa.</h2>

  <h5>Productos ({{pedidoTotal.productos.length}})</h5>  
  <span *ngFor="let producto of pedidoTotal.productos; let i = index">       
    <app-card-producto
      [item]="producto" 
      [showStock]="false"
      [showImage]="false"
      [multiplicador]="1"
    ></app-card-producto>      
  </span>

  <ion-list lines="none">  
    <h5>Pedidos ({{pedidos.length}})</h5>       
    <ion-item-sliding *ngFor="let pedido of pedidos" class="item-card">
      <app-card-pedido [item]="pedido"></app-card-pedido>
     <ion-item-options side="end"> 
        <ion-item-option (click)="cancelar(pedido)"><ion-icon name="trash" ></ion-icon>Cancelar</ion-item-option>
      </ion-item-options> 
    </ion-item-sliding> 
  </ion-list> 
</ion-content>
<ion-footer class="ion-no-border ion-padding"> 
  <ion-toolbar>   
    <ion-button class="button-rounded" slot="start"  color="danger" (click)="cerrar()">Cerrar</ion-button>
  </ion-toolbar> 
</ion-footer>