<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  (click)="atras()"></ion-back-button>
    </ion-buttons>
    <ion-title>{{mesa.nombre}}</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list>                   
    <span *ngFor="let producto of mesa.productos; let i = index">
      <ion-item-sliding>
        <app-card-producto
          [item]="producto"
          [showStock]="false"
          [showEnCarrito] = "false"
        ></app-card-producto>  
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="eliminarProducto(i)"><ion-icon name="trash" ></ion-icon> Eliminar</ion-item-option>
        </ion-item-options>  
      </ion-item-sliding>
    </span>  
  </ion-list>
 
</ion-content>
<ion-footer class="ion-no-border ion-padding">
 
  <ion-toolbar>    
    <ion-button *ngIf="comercio.modulos.cajas == true" color="primary" (click)="cerrarMesa()">Cerrar Mesa</ion-button>
    <ion-button *ngIf="comercio.modulos.cajas == false" color="primary" (click)="borrarMesa()">Borrar Mesa</ion-button>
  </ion-toolbar>
</ion-footer>