<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Mesas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
 

  <ion-list lines="none">

    <ion-item-sliding *ngFor="let mesa of mesas;let i=index" class="item-card">
      <ion-item (click)="verMesa(mesa)">       
        <ion-label>
          <b>{{mesa.nombre}}</b>         
        </ion-label> 
        <ion-badge color="success" *ngIf="mesa.productos.length > 0" slot="end">{{mesa.productos.length}}</ion-badge>
      </ion-item>  
  
      <ion-item-options side="end">
        <ion-item-option (click)="openEditMesa(mesa)"><ion-icon name="create" ></ion-icon> Editar</ion-item-option>
      </ion-item-options>
  
    </ion-item-sliding>
  </ion-list>
  
    
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="openAddMesa()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
