<ion-item (click)="seleccionar()">
  <div slot="start">
    <img src="{{item.foto}}" *ngIf="item.foto">
    <ion-icon name="cube-outline" *ngIf="!item.foto"></ion-icon>
  </div>      
  <ion-label>                
    <h2><b>{{item.nombre}}</b></h2>
    <p>
      <span *ngIf="item.valorPor && (item.valorPor * item.cantidad)==1 && item.unidad == 'unidades'">
        {{item.valorPor * item.cantidad}} unidad
      </span>

      <span *ngIf="item.valorPor && (item.valorPor * item.cantidad)==1 && item.unidad != 'unidades'">
        {{item.valorPor * item.cantidad}}  {{item.unidad}}
      </span>

      <span *ngIf="item.valorPor && (item.valorPor * item.cantidad)!=1">
        <span *ngIf="item.valorPor">
          {{item.valorPor * item.cantidad}}
        </span>
        <span *ngIf="item.unidad">
          {{item.unidad}}
        </span> 
      </span>   
      <b>{{item.precio * item.cantidad | currency}} </b>    <br> 
      stock: {{item.stock}}          
     
    </p>    
    <p>
      {{item.descripcion_venta}}
    </p>      
  </ion-label>  
</ion-item>