<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard Comercio</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button size="large" (click)="irServiciosProductos()"  expand="block">Realizar Venta</ion-button>
  <ion-button size="large" (click)="irVentas()"  expand="block">Datos Ventas</ion-button>
  <ion-button size="large" (click)="irSubscripciones()"  expand="block">Datos Subscripciones</ion-button>  
</ion-content>
